// replace by bs5 utilty
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    .logo{
        background-image: url("../../assets/images/logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 42px;
        width: 174px; 
        & a{
            text-indent: 101%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            padding-bottom: 20px;
        }
    }
    
}
.click:hover{
    color: #62DB54 !important;  
}
header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg,#62DB54 50%, #09ACF5 50% );
}
.footer{
    padding-top: 16px;
    padding-bottom: 16px;
}
.layout-bg{
    background-color: #2D2D2D;
}
.icon-size{
    height: 42px;
    width: 42px;
}
.footer-font{
    color: #909090;
}
@media(max-width:592px){
    .header{
        position: relative;
        .logo{
            background-image: url("../../assets/images/logo2.svg");
            height: 24px;
            width: 24px;
        }
        .toggle-dropdown{
            // display: block;
            position: relative;
            width: 70%;
            text-align: right;
        }
        .fa-2x{
            font-size: 1.5rem;
        }
    }
    .footer-font{
        font-size: 12px !important;
    }
}
