.card-lg{
    @media (min-width:992px){
        top: 50%;
        left: 48px;
        transform: translateY(-50%);
        z-index: 10;
        background-color: #2D2D2D;
    } 
}
.form-lg{
    @media (min-width:992px){
        right: 48px;
        background-color: #1C1C1C;
        // .col-lg-6{
        //     width: 45% !important;
        // }
    } 
}
.padding-lg{
    @media (min-width:992px){
        padding-left: 114px;
        padding-right: 32px;
    } 
}
.triangle::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 12px 12px 12px 12px;
    border-color: #2D2D2D transparent transparent transparent;
    z-index: 10;
    //triangle
    @media (min-width:992px){
        border-color:  transparent  transparent transparent #2D2D2D;
        top: 50%;
        left: 100.1%;
        transform: translateY(-50%);
    }
}

.btn-gap{
    gap:8px;
    .col-6{
        width: 47%;
    }
}
.btn-effect{
    &:hover{
        border: 1px solid #62DB54 !important;
        color: #62DB54;
    }
}
.btn-size{
    height: 45px;
}
.btn-font{
    color: #C1C1C1;
}

.w-xl{
    @media (min-width:992px) {
        width: 168px !important;
    }
}