@mixin image-set{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
// first area : brand-banner
@mixin homeBgChange{
    @media (min-width:576px){
        @content;
    }
}
@mixin flexChange{
    @media(min-width:992px) {
        @content;
    }
}

.home{
    background-image: url("../../assets/images/bg_home_mobile.jpg");
    @include image-set;
    height: 336px;
    width: 100%;
    .fs-4{
        font-size: $font-size-base * 1.5 !important;
    }
    .fs-8{
        font-size: $font-size-base * 0.875 !important;
    }
    @media (min-width:576px){
        .fs-4{
            font-size: $font-size-base * 3 !important;
        }
        .fs-8{
            font-size: $font-size-base * 1.125 !important;
        }
    }
    @include homeBgChange{
        background-image: url("../../assets/images/bg_home.jpg");
        height: 680px;
    }
}
.title{
    width: 100%;
    height: 166px;
    @media (min-width:576px){
        height: 269px;
        width: 650px;
    }
}
.square {
    width: 10px;
    height: 10px;
    background-color: #fff;
}
@media (min-width:576px){
    .py-md-80{
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }  
}

// 2nd area : brand-info
.sub-hr{
    width: 50px;
    height: 0px;
    border-bottom: 3px solid #62DB54;
    @media (min-width:992px){
        left:9% !important;
        bottom: 35% !important;
    }
}


// normal title
.sub-title-hr{
    width: 50px;
    height: 0px;
    border-bottom: 3px solid #62DB54;
}

.img-size{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
@mixin adsize{
    @media(max-width: 576px){
        height: 263px !important;
    }
    @media(min-width: 1440px){
        width: 360px !important;
        height: 615px !important;
    }
    
}
.ad-1{
    background-image: url("../../assets/images/info01.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    @include image-set;
    @include adsize;

}
.ad-2{
    background-image: url("../../assets/images/info02.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    @include image-set;
    @include adsize;

}
.ad-3{
    background-image: url("../../assets/images/info03.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    @include image-set;
    @include adsize;


}
.ad-4{
    background-image: url("../../assets/images/info04.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    @include image-set;
    @include adsize;

}


.btn-size-define{
    height: 42px;
    width: 172px;
}

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 24px;
    .btn-white{
        border: 1px solid #fff;
        color: #fff;
        height: 42px;
        width: 136px;
    }
    @include flexChange{
        flex-direction: row;
        justify-content: center;
        padding: 48px;
        .mt-4{
            margin-top: 0px !important;
        }
        .ml-flex{
            margin-left: 48px;
        }
        .ml-btn{
            margin-left: 96px;
        }
    }
    
}

  
.brand-bg-display{
    @include image-set;
    @media(min-width: 992px){
        background-image: url("../../assets/images/bg_share.jpg");
    }
}
