.mt-50{
    margin-top: 50px;
}
.lh-37{
    line-height: 37px;
}
.lh-35{
    line-height: 35px;
}
.lh-29{
    line-height: 29px;
}
.lh-19{
    line-height: 19px;
}
.lh-26{
    line-height: 26px;
}
.lh-40{
    line-height: 40px;
}
.lh-56{
    line-height: 56px;
}
.lh-70{
    line-height: 70px;
}
.start-80px{
    margin-left: 80px;
}
.sp-font{
    font-size: 48px;
    font-family: "Azeret Mono" !important;
    font-weight: bold;
    background-color: #1C1C1C;
    padding-left: 10px;
    padding-right: 10px;
    color: #62DB54;
}
.size-80 {
    font-size: 80px !important;
    font-variation-settings: 'OPSZ' 48;
}
.size-50 {
    font-size: 50px !important;
    font-variation-settings: 'OPSZ' 48;
}
.size-32 {
    font-size: 32px !important;
    font-variation-settings: 'OPSZ' 48;
}
@mixin gradient-x($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
  }
.gradient-x{
    @include gradient-x;
}

@mixin gradient-y($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}
.gradient-y{
    @include gradient-y;
}

.text-gradient-y{
    @include gradient-y;
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

.home-bg-default{
    background-color: #1C1C1C;
}
.home-bg-black{
    background-color: #000;
}
.home-bg-second{
    background-color: #2D2D2D;
}