$bgColor : #AA0601;
$subTitleColor : #A00404;
$unitLength : 8px;
$unitLineWidth: 1px ;
$alphaBetSize : 8px;


// Source mixin
@mixin make-container($padding-x: 20px) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }
  
  // Usage
.custom-container {
@include make-container();
text-align: left;
}