.ham-icon {
    color: #62DB54;
}
.dropdown {
    max-height: 0px;
    display: none;
    position: absolute;
    background-color: #2D2D2D;
    right: 0px;
    top: 30px;
    width: 70%;
    overflow: hidden;
    transition: all 0.8s;
    z-index: 120;
    text-align: center;
    li{
        list-style: none;
        border-bottom: 1px solid #FFFFFF;
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
        a:hover{
            color: #0a58ca;
        }
    }
}
.active{
    display: block;
    max-height: 250px;
}
