.ham-icon {
    color: #62DB54;
}
.dropdown-self {
    text-align: center;
    background-color: #2D2D2D;

    max-height: 0px;
    width: 100vw;

    display: none;
    position: absolute;
    
    right: 0px;
    top: 48px;
    
    overflow: hidden;
    transition: all 0.8s;
    transform: translateX(3%);
    z-index: 120;
    
    padding-top: 24px;
    padding-bottom: 24px;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
        a:hover{
            color: #0a58ca;
        }
    }
    li:hover{
        background-color: #333;
    }
}
.active-self{
    display: block;
    max-height: 250px;
}
