.ham-icon {
    color: #FFFFFF;
}
.dropdown {
    max-height: 0px;
    display: none;
    position: absolute;
    background-color: #AA0601;
    right: 0px;
    top: 30px;
    width: 100%;
    overflow: hidden;
    transition: all 0.8s;
    z-index: 120;
    text-align: center;
    li{
        list-style: none;
        border-top: 1px solid #FFFFFF;
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
        a:hover{
            color: #f24;
        }
        &:hover{
            background-color: #333;
        }
    }
    
}
.active{
    display: block;
    max-height: 250px;
}
