.timeline {
    position: relative;
    &::after {
      // progress bar
      content:"";
      position: absolute;
      border: 1px solid green;
      width: 100%;
      top: 9px;
      left: 0;  
      right: 0;
      height: 2px;
      background-color: #C1C1C1;
    }
    &-pointer {
      // text-align + grid
      position: relative;
      color: #C1C1C1;
      p {
        padding-top: 24px;
        margin-bottom: 0;
        line-height: 1.5;
      }
      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 1px solid #C1C1C1;
        border-radius: 50%;
        background-color: #2D2D2D;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        font-size: 12px;
        z-index: 1;
      }
      &.step-1::before {
        content: '✓';
      }
      &.step-2::before {
        content: '2';
      }
      &.step-3::before {
        content: '3';
      }
      &.active {
        color: #62DB54;
        &::before {
          color: #FFFFFF;  
          background-color: #62DB54;
          border-color: #62DB54;
        }
      }
    }
  }